[submodule "term/base16-shell"]
	path = term/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "term/tmux/plugins/tmux-open"]
	path = term/tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open.git
[submodule "term/tmux/plugins/tmux-yank"]
	path = term/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "term/tmux/plugins/tpm"]
	path = term/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "term/fish/fundle/danhper/fish-ssh-agent"]
	path = term/fish/fundle/danhper/fish-ssh-agent
	url = https://github.com/danhper/fish-ssh-agent.git
[submodule "term/fish/fundle/edc/bass"]
	path = term/fish/fundle/edc/bass
	url = https://github.com/edc/bass.git
[submodule "term/tmux/plugins/tinted-tmux"]
	path = term/tmux/plugins/tinted-tmux
	url = https://github.com/tinted-theming/tinted-tmux.git
